<div class="login-wrapper flex flex-row justify-center items-center h-full">
  <form [formGroup]="loginform" (ngSubmit)="onLogin()">
    <p>
        <mat-form-field class="w-64">
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="w-64">
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
      <button class="submit-buttond w-64" [disabled]="!this.loginform.valid" type="submit" mat-stroked-button>Submit</button>
</form>
</div>
